html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  margin:0;
  padding:0;
}

.event {
  position: relative;
  padding:10px;
  border: 1px solid;
  border-top: 0;
}

.text {
  clear:both;
  display:block;
  margin-bottom:5px;
}

.date {
  display: block;
  float:left;
  font-size: 80%;
}

.link {
  display: block;
  float:right;
  font-size: 80%;
}

.header {
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px 5px 0 0;
}

.header svg {
  vertical-align: text-bottom;
}

.header a {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  padding-top: 5px;
  text-align: right;
  font-size: 70%;
}

.event .actor img {
  float: left;
  max-width: 25px;
  margin: 0 5px 5px 0;
}

/* LIGHT skin */
.light .event, .light .header, .light .event:hover  {
  border-color: rgba(218, 218, 218, 0.8);
}

.light .header, .light .event:hover {
  background-color: rgba(218, 218, 218, 0.8);
  color: #000;
}

.light .header svg, .light, .light a {
  fill: #000;
  color: #000;
}

/* DARK skin */
.dark .event, .dark .header, .dark .event:hover  {
  border-color: rgba(0,0,0,0.3);
}

.dark .header, .dark .event:hover {
  background-color: rgba(0,0,0,0.3);
  color: #fff;
}

.dark .header svg, .dark, .dark a {
  fill: rgb(245, 248, 250);
  color: rgb(245, 248, 250);
}
